@model IEnumerable<RentalMobile.Models.TenantFavorite>
<p>
    <h2>My Favorites</h2>
</p>
<table>
    <tr>
        <th>
            FavoriteId
        </th>
        <th>
            TenantId
        </th>
        <th>
            UnitId
        </th>
        <th>
            FavoriteDate
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteDate)
            </td>
            <td>
                @Html.ActionLink("View", "Details", "TenantFavorite", new { id = item.FavoriteId }, null)
                |
                @Html.ActionLink("View", "Index", "UnitDetail", new { id = item.FavoriteId }, null)
                |
                @Html.ActionLink("Delete", "Delete", "TenantFavorite", new { id = item.FavoriteId }, null)
            </td>
        </tr>
    }
</table>
