@model List<RentalMobile.Models.Tenant>
@{
    ViewBag.Title = "Tenant Profile";
    Layout = "~/Views/Shared/_Tenant.cshtml";
}


@section profile
{
 @*<div id="profile" class="panel center">
                        <div class="seven columns">
                            <img src="../../images/dotimages/agent-placeholder.png" alt="agent" class="scale-with-grid" />
                        </div>
                        <div class="seven columns prop-details">
                            <h6 class="h6custom">
                                John Smithson</h6>
                            <p class="profile-meta">
                                President | (555) 154 487
                                <br />
                                <span class="social-profile"><a href="#"><i class="icon-mail"></i></a><a href="#"><i
                                                                                                                      class="icon-vcard"></i></a><a href="#"><i class="icon-skype"></i></a><a href="#"><i
                                                                                                                                                                                                           class="icon-twitter"></i></a><a href="#"><i class="icon-linkedin"></i></a><a href="#">
                                                                                                                                                                                                                                                                                         <i class="icon-gplus-1"></i></a></span>
                            </p>
                            <h6 class="h6custom">
                                About</h6>
                            <p>
                                Please complete the form below to request a showing for this property. Quisque non
                                mi magna, eget aliquet urna. Curabitur ut justo est. Quisque iaculis risus et tortor
                                congue porta. Suspendisse eleifend tempor dapibus.
                            </p>
                        </div>
                    </div>*@
    
    @Html.Partial("_ProfileDetail", Model.FirstOrDefault());
}
@section generalprofile{
    @*<div id="generalprofile">
            <!-- Section: slider -->
            @Html.Partial("_TenantFavorite", (object)ViewBag.TenantProfile );
        </div>
 *@
    <div id="generalprofile">
        <!-- Section: new development -->
        <h2 class="section-titling">
            My Favorite</h2>
        <ul class="row add-bottom mosaic-gallery">
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        12205 South Strange Line, Olathe, KS,USA.</h6>
                    <h6 style="float: left">
                        20 Sep 2012 2:00</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Bed: <span>4</span>Bathroom: <span>2</span>Price: <span>$35.000</span></p>
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- /section: new development -->
    </div>
}

@section showing{
    <div id="showing" class="panel">
        <section class="fifteen columns">
            <!-- List/Grid gallery -->
            <ul id="property-list" class="list-grid-gallery list">
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">1/1/2001 </li>
                                <li class="new">9134060298</li>
                            </ul>
                            <p class="prop-webid">
                                SHowing ID #1</p>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.a est quis nunc bibendum consequat. Cras ornare sodales
                                venenatis. a est quis nunc bibendum consequat. Cras ornare sodales venenatis.
                            </p>
                            <ul class="toolbar">
                                @*                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>*@
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
            </ul>
            <!-- /.List -->
            
            
            
            <style>
                
                #container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:50px;
    height: 20px;
    background: #ff0000;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:50px;
    height: 20px;
    background: #00ff00;
}

#right {
    float:right;
    width:50px;
    height: 20px;
    background: #0000ff;
}
            </style>     

            <!--Pagination-->
        <div id="container">
  <div id="left">Previous</div>
  <div id="center">Page 1 of 10</div>
  <div id="right">Next</div>
</div>
            <!--Pagination-->
        </section>
    </div>
    <!-- /section: gallery -->
}
