@model IEnumerable<RentalMobile.Models.Tenant>
@{
    ViewBag.Title = "Tenant Profile";
    Layout = "~/Views/Shared/_Tenant.cshtml";
}
@section generalprofile{
    @*<div id="generalprofile">
            <!-- Section: slider -->
            @Html.Partial("_TenantFavorite", (object)ViewBag.TenantProfile );
        </div>
 *@
    <div id="generalprofile">
        <!-- Section: new development -->
        <h2 class="section-titling">
            My Favorite</h2>
        <ul class="row add-bottom mosaic-gallery">
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        12205 South Strange Line, Olathe, KS,USA.</h6>
                    <h6 style="float: left">
                        20 Sep 2012 2:00</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Bed: <span>4</span>Bathroom: <span>2</span>Price: <span>$35.000</span></p>
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- /section: new development -->
    </div>
}
@*@section showing{
    <div id="showing" class="panel">
        <div class="seven columns">
            <h4>
                Maybe Current Showing. Then Make application or delete and might be another option
                for creating new showing</h4>
            <p>
                Enter this stately apartment and you are rewarded with a spectacular view of not
                only Central Parkoin id rhoncus massa. Pellentesque quis orci non lacus tincidunt
                scelerisque. Integer bibendum commodo urn id suscipit sapien porta in. In sollicitudin
                dui nec quam semper luctus.</p>
            <p>
                Nulla malesuada tempor mi, in dignissim tortor tempor ut. Donec semper risus feugiat
                purus fermentum nec cursus elit dignissim. Aliquam convallis hendrerit ligula sed
                ullamcorper. Phasellus porta aliquam velit quis sodales. Sed accumsan, nunc vel
                elementum pharetra, magna neque condimentum purus, nec facilisis risus arcu in elit.
                Morbi pulvinar diam aliquet risus. tristique nec interdum leo.</p>
        </div>
        <div class="six columns push by-two">
            <h4>
                General Amenities</h4>
            <ul class="arrow">
                <li>Garage</li>
                <li>Exterior lighting</li>
                <li>Dish washer</li>
                <li>Barbecue</li>
                <li>Garden</li>
                <li>Burglar alarm</li>
                <li>Swimming pool</li>
                <li>Central air</li>
            </ul>
        </div>
        <!-- Section: Gallery -->
        <section class="sixteen columns">
            <h2 class="remove-top">
                A Community of properties</h2>
            <!-- Posted asks list -->
            <ul class="shadded boxed row" id="ask-posts">
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                             <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                4043 Walnut street APT 5011 Olathe, KS</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... @Html.ActionLink("read more", "Index", "Specialist");
                            </p>
                            <p class="price">Beds: <span>8</span>
                                Bathes: <span>4</span>
                                Price: <span>$35.000</span>
                            </p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i><b>Sat Oct 6, 2012</b></a>
                            </p>
                            <p class="links-tools"><a href="#"><i class="icon-comment"></i>Delete </a> 
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.. <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry eight columns">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry eight columns">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry eight columns">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry eight columns">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="row remove-bottom">
                        <figure class="avatar">
                            <img src="../../images/dotimages/avatar-placeholder.png" alt="//">
                        </figure>
                        <div class="entry eight columns">
                            <h4>
                                Real Estate Investing: How To Start Investing</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus rutrum dolor.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">read more</a></p>
                            <p class="links-tools">
                                <a href="#"><i class="icon-clock"></i>Sat Oct 6, 2012</a> <a href="#"><i class="icon-comment">
                                                                                                      </i>12 Comments</a> <a href="#"><i class="icon-user"></i>by Carlisle Smithson</a>
                            </p>
                        </div>
                    </article>
                </li>
            </ul>
            <!-- jPages paginator holder -->
            <div class="holder add-bottom boxed shadded">
            </div>
            <!-- Search advice block -->
            <form action="#" class="shadded boxed row wide-on-small-screen">
                <h4 class="remove-top add-bottom">
                    Search advices form</h4>
                <ul class="grid-form row remove-bottom">
                    <li class="five columns alpha">
                        <label class="screen-reader-text" for="keyword-field">
                            Keyword</label>
                        <input type="text" id="keyword-field" placeholder="Keyword">
                    </li>
                    <li class="five columns omega">
                        <label class="screen-reader-text" for="placement">
                            City, state, country</label>
                        <input type="text" id="placement" placeholder="City, State, Country">
                    </li>
                </ul>
                <a href="#" class="fr">My Searches</a>
            </form>
        </section>
    </div>
}*@
@section showing{
    <div id="showing" class="panel">
        <section class="fifteen columns">
            <!-- List/Grid gallery -->
            <ul id="property-list" class="list-grid-gallery list">
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                 alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">1/1/2001 </li>
                                <li class="new">9134060298</li>
                            </ul>
                                                        <p class="prop-webid">
                               SHowing ID #1</p>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum commodteger bibendum c scele.a est quis nunc bibendum consequat. Cras ornare sodales venenatis. a est quis nunc bibendum consequat. Cras ornare sodales venenatis. </p>
                            <ul class="toolbar">
@*                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>*@
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                 alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>  <p class="prop-webid">
                                Web ID #1</p>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum commodteger bibendum c scele.</p>
            
                           
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                
                
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                 alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                 alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
                
                
                  <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="nine columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                @*									<li class="next-arr">@Html.ActionLink("Description", "Index", "UnitDetail")></li>*@
                            </ul>
                        </div>
                    </article>
                </li>
            </ul>
            <!-- /.List -->
        </section>
    </div>
    <!-- /section: gallery -->
}
