@model IEnumerable<RentalMobile.Models.Tenant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Address
        </th>
        <th>
            EmailAddress
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TenantId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenantId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenantId })
        </td>
    </tr>
}

</table>

@*   @{Html.RenderPartial("Index",
                     "New", 
                      new { routeValueOne = "SomeValue" });
}
@Html.Partial("../TenantShowing/Index",)
*@
