@model IEnumerable<RentalMobile.Models.MaintenancePhoto>


<table>
    <tr>
        <th>
            MaintenanceID
        </th>
        <th>
            PhotoID
        </th>
        <th>
            PhotoPath
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoPath)
            <img src="@Url.Content(item.PhotoPath)"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
