<!DOCTYPE html>
@Html.Partial("_IEHandler")
<html lang="en">
@RenderSection("head", false)
@Html.Partial("_Head")
<body>
    <div class="main" role="main">
        @RenderBody()
    </div>
    <div class="container page add-bottom">
        @Html.Partial("_TopBar")
        @Html.Partial("_BrandHeader")
        <div class="main" role="main">
            <section class="row">
                <div class="tab-container mini-tabs sixteen columns">
                    @Html.Partial("_SpecialistMiniTabMenu")
                    @RenderSection("profile", false)
                    @RenderSection("map",false)
                    @RenderSection("account",false)
                </div>
            </section>
            <section class="row double-bottom">
                <div class="tab-container big-tabs sixteen columns">
                    @Html.Partial("_SpecialistBigTabMenu")
                    @RenderSection("comments", false)
                    <div id="favorite">
                        @RenderSection("favorite", false)
                    </div>
                    @RenderSection("maintenance", false)
                    @RenderSection("job", false)
                    @RenderSection("property", false)
                    @RenderSection("contract", false)
                    @RenderSection("payment", false)
                </div>
            </section>
            @Html.Partial("_Features")
            @Html.Partial("_Partners")
        </div>
        @Html.Partial("_BreadCrumb")
        @Html.Partial("_TopScroller")
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_InitialScripts")
    @RenderSection("scripts", false)
</body>
</html>
