
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<h2>
    Index</h2>
<p>
<ul>
    <strong>UserProfile</strong>    
    <li>@Html.ActionLink("Tenant", "TenantProfile", "UserProfile")</li>
    <li>@Html.ActionLink("Maintenance", "MaintenanceProfile", "UserProfile")</li>
    <li>@Html.ActionLink("Owner", "OwnerProfile", "UserProfile")</li>

</ul>
</p>
<br />
<p>
<ul>
    <strong>View of UserProfile</strong>    
    <li>@Html.ActionLink("Tenant", "Tenant", "ViewUserProfile")</li>
    <li>@Html.ActionLink("Maintenance", "Maintenance", "ViewUserProfile")</li>
    <li>@Html.ActionLink("Owner", "OwnerorAgent", "ViewUserProfile")</li>

</ul>
</p>
